body{
    background-image:url();
}


background: linear- gradient( #00ffff,#ccffff);
}
h1{
color: #ffffff
    text-shadow
    : 2px 2px 5px black;
    

}
h2{
    color: rgb(0, 26, 26);
    text-shadow: 1px 1px 3px darkblue;
}